.homeBanner{
    @extend .bg-img-cover !optional;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        background-color: #0061f2 !important;
        opacity: 0.7;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
