
@media (min-width: 767px) {
    .proplist{
        float: left;
        width: 50%;
    }
}

.headingBorder{
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 70px;
        height: 4px;
        background-color: var(--bs-primary);
        bottom: -5px;
        left: 0;
    }
}